20211022-Carr-Data4Ruth.xlsx
Biology_of_Marine_Birds_Appendices.pdf
Carr et al 2021 supinfo.docx
Chagos 2015 Bird data.xlsx
Chagos 2015 fish functions.xlsx
Chagos_Grazing and erosion_final.xlsx
Chagos_rats_birds_UVC_data.xlsx
Dumbraveanu and Sheppard 1999.xlsx
Goldberg 2016 - World Atolls 2022 Update.csv
Holmes et al 2019 SupInfo.docx
Islands_InvasiveSpecies_Atolls_Area.csv
Islands_InvasiveSpecies_TIBDataRequest_29June2022.xlsx
Islands_InvasiveSpecies_p2.csv
Schreiber_Burger_2002.xlsx
Spatz et al 2017.xlsx
Tim_Wilkinson_RBGKew-Chagos_vegetation.csv
Vegetation_Habitat_Wilkinson_Carr_Conversion.csv
hike_data (1).rds
