Biomass epipelagic preys Chagos area.xlsx
biomass_chagos.csv
corrected_maps_chagos.nc
corrected_maps_chagos.nc.aux.xml
corrected_maps_chagos_info.txt
corrected_maps_chagos_modified.tif
corrected_maps_chagos_modified.tif.aux.xml
corrected_mesh_chagos.nc
corrected_mesh_chagos.nc.aux.xml
georef_corrected_maps_chagos.nc
georef_corrected_maps_chagos.nc.aux.xml
maps_chagos.nc
maps_chagos.nc.aux.xml
mesh_chagos.nc
mesh_chagos.nc.aux.xml
