Carr_2021_Chagos_islands_info.csv
Carr_etal_2020_Chagos_breeding_seabirds.csv
Graham_etal_2018_Chagos_Seabirds_Nitrogen.csv
Graham_etal_2018_Chagos_UVC_data.csv
Graham_etal_2018_Chagos_fish_functions.csv
Graham_etal_2018_Chagos_islands_info.csv
Graham_etal_2018_Fig5_ESM.csv
Graham_etal_2018_Fig5_ESM.jpg
Habitat_cover.csv
Invasives_and_Atolls_Goldberg_Spatz.csv
Ocean_biomass_buffers.csv
Ocean_biomass_buffers.qmd
Schreiber_Burger_2002_Seabird_info.csv
Seabird_species_names.csv
Spatz_etal_2017-Islands_invasives.csv
Wilkinson_2017_Chagos_habitat_cover.csv
World_Atolls_2022-Goldberg_2016-Invasives.csv
World_Atolls_2022-Goldberg_2016-Subset.csv
Raw data
Processed
