Pred_CoralFunction_Chagos.csv
Pred_CoralFunction_OtherAtolls.csv
Pred_highnn_CoralGrowth_Nitrogen.csv
Pred_highnn_Erosion_Nitrogen.csv
Pred_highnn_FishBiomass_Nitrogen.csv
Pred_highnn_Grazing_Nitrogen.csv
Pred_lownn_CoralGrowth_Nitrogen.csv
Pred_lownn_Erosion_Nitrogen.csv
Pred_lownn_FishBiomass_Nitrogen.csv
Pred_lownn_Grazing_Nitrogen.csv
Seabird_Group_Consumption_Predicted.csv
Seabird_Numbers_Predicted_Chagos.csv
Seabird_NutrientInput_Chagos_Predicted.csv
Seabird_NutrientInput_Chagos_Predicted_RatIslandsOnly.csv
Seabird_NutrientInput_Predicted_Chagos.csv
Seabird_NutrientInput_Predicted_OtherAtolls.csv
